$gray-100: #f0edf2;
$gray-200: #e5e2e9;
$gray-300: #e0dce4;
$gray-400: #d1cbd7;
$gray-500: #6b6572;
$gray-600: #262428;

$green-100: #0EAA99;
$green-200: #01937E;
$green-300: #2A7475;
$green-400: #05554A;